snippet def
	def ${1:func}(${2:*args})${3:-> None}:
		${4:pass}

snippet class
	class ${1:classname}${2:(object)}:
		def __init__(${3:*args}, ${4:**kwargs}):
			${5:pass}

snippet for
	for ${2:item} in ${1:iterable}:
		print(${2})

snippet while
	while ${1:True}:
		${2:pass}

snippet if
	if ${1:True}:
		${2:pass}
