snippet main
	import sys


	def main() -> int:
	    ${1:# code}
	    return 0


	if __name__ == '__main__':
	    sys.exit(main())

snippet def
	def ${1:function}(${2:*args}, ${3:**kwargs}) -> ${4:None}:
	    ${5:# code}
	    return ${0: None}

snippet class
	class ${1:class_name}:
	    def __init__(self, ${2:*args}) -> None:
	        ${0:pass}
