* {
    font-family: JetBrainsMono NF, Helvetica, Arial, sans-serif;
    font-size: 12px;
    margin: 0 5px;
}

window#waybar {
    background-color: #161616;
    color: #d8dee9;
}

#workspaces {
    margin: 0px;
    background-color: #262626;
}

#workspaces button {
    margin: 0px;
    padding: 0px 5px;
}

#workspaces button:not(.empty) {
    box-shadow: inset 0 1px #3ddbd9;
}

#workspaces button.active {
    background-color: #b3d9b8;
    color: #262626;
}

#workspaces button:hover:not(.active) {
    box-shadow: inset 0 3px #3ddbd9;
}

#clock,
#battery,
#backlight,
#network,
#pulseaudio {
    padding: 5px 15px;
    color: #d8dee9;
    background-color: #262626;
    margin: 0;
}

#tray {
    margin: 5px;
    padding: 0px 10px;
}

#clock {
    background-color: #67b0e8;
    color: #232a2d;
}

#battery {
    margin-right: 5px;
}

#battery.charging, #battery.plugged {
    color: #8ccf7e;
}

@keyframes blink {
    to { color: #232a2d; }
}

#battery.warning:not(.charging) {
    color: #e5c76b;
}

#battery.critical:not(.charging) {
    background-color: #fe6d85;
    color: #e57474;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#pulseaudio.muted {
    color: #4a5057;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #e57474;
}
