* {
    font-family: JetBrainsMonoNL, "Symbols Nerd Font", "Roboto Mono";
    font-size: 15px;
}

#window {
    background-color: rgba(0,0,0,0);
    padding: 10px;
    border-radius: 10px;
}

#outer-box {
    padding: 10px;
}

#inner-box {
    padding: 10px;
    margin: 10px;
    background-color: #2b2b2b;
    color: #aeb3bb;
}

#scroll {
    border-radius: 10px;
    background-color: #2b2b2b;
    border: 2px solid #48b0fa;
    margin: 10px;
}

#entry {
    padding: 5px 15px;
    margin: 2.5px;
    border-radius: 10px;
}

#entry expander list {
    background-color: #176fad;
    border-radius: 10px;
}

#entry:selected {
    background-color: #176fad;
}

#entry > box {
    margin-left: 15px;
}

#entry image {
    padding: 0px 15px 0px 5px;
    margin: 0px 5px 0px 5px;
}

#input {
    border-radius: 10px;
    margin: 10px;
    padding: 5px 20px;
    border: 1.5px solid #0cf7e8;
    background-color: #2b2b2b;
}
