* {
    font-family: "JetBrainsMono Nerd Font Mono", "Symbols Nerd Font", "Roboto Mono";
    font-size: 15px;
}

#window {
    background-color: rgba(0,0,0,0);
    padding: 10px;
    border-radius: 10px;
}

#outer-box {
    padding: 10px;
}

#inner-box {
    padding: 10px;
    margin: 10px;
    background-color: #dde1e6;
    color: #131313;
}

#scroll {
    border-radius: 10px;
    background-color: #dde1e6;
    border: 2px solid #78a9ff;
    margin: 10px;
}

#entry {
    padding: 5px 15px;
    margin: 2.5px;
    border-radius: 10px;
}

#entry expander list {
    background-color: #33b1ff;
    border-radius: 10px;
}

#entry:selected {
    color: #131313;
    background-color: #33b1ff;
}

#entry > box {
    margin-left: 15px;
}

#entry image {
    padding: 0px 15px 0px 5px;
    margin: 0px 5px 0px 5px;
}

#input {
    border-radius: 10px;
    margin: 10px;
    padding: 05px 15px;
    border: 1.5px solid #82cfff;
    background-color: #131313;
}
#input image {
    margin: 5px;
    padding: 5px;
}
